[env]
DOTFILES_REPO = "{{ env.HOME }}/dotfiles"

[tools]
node = "latest"
bun = "latest"
python = "latest"
poetry = "latest"
uv = "latest"
rust="latest"

[tasks.dotfiles]
depends = ["dotfiles:link-config", "dotfiles:link-mise", "dotfiles:link-vsc"]
