[env]
DOTFILES_REPO = "{{ env.HOME }}/dotfiles"

[tools]
node = "lts"
python = "latest"
bun = "latest"

[tasks."dotfiles:link"]
run = """
#!/usr/bin/env bun

import { $ } from "bun";
import { readdir } from "node:fs/promises";
import path from "node:path";

const files = await readdir(`${process.env.DOTFILES_REPO}/config`);
for (const file of files) {
  const src = path.join(process.env.DOTFILES_REPO, "config", file);
  const dest = path.join(process.env.HOME, file);

  try {
    await $`rm -v ${dest}`;
  } catch {}

  await $`ln -sv ${src} ${dest}`;
}
"""
