[user]                                                                                                                                    
    name = Maxence Frenette

# Personal Email
[includeIf "gitdir:~/Repos/"]
	path = .personal-email.gitconfig
[includeIf "gitdir:~/dotfiles/"]
	path = .personal-email.gitconfig


# Work Email
[includeIf "gitdir:~/Repos-Dandelion/"]
	path = .work-email.gitconfig


[alias]
	co = checkout
	ci = commit
	cam = commit -am
	st = status
	br = branch
	sw = switch
	hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
	pushb = push -u origin HEAD

[push]
	default = simple
	autoSetupRemote = true
[init]
	defaultBranch = main
