[user]                                                                                                                                    
    name = Maxence Frenette

[includeIf "gitdir:~/Repos/"]
	path = .personal-email.gitconfig

[includeIf "gitdir:/git/"]
	path = .work-email.gitconfig

[alias]
	co = checkout
	ci = commit
	st = status
	br = branch
	hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
	type = cat-file -t
	dump = cat-file -p
